<h1>Admins#index</h1>
<h1>All Cuurent Subscriptions</h1>
<p><%@subscription.all.each do |subscription|%>
<div class="card card p-3 bg-light card-body"><h1>Subscription Details</h1></div>
  <div class="mt-4 p-5 bg-light text-dark rounded shadow p-3 mb-5 bg-body rounded">
    <ul class="list-group list-group-flush d-grid gap-3">
      <li class="list-group-item fw-bold">
      <%if subscription.plan.present?%>
        <div class="row">
          <div class="col-3"><h6>Buyer Name</h6></div>
          <div class="col-3"><h6><%=subscription.buyer.name%></h6></div>
        </div>
      </li>
        <li class="list-group-item fw-bold">
        <div class="row">
          <div class="col-3"><h6>Plan Name</h6></div>
          <div class="col-3"><h6></h6><%=link_to "#{subscription.plan.name}",plan_path(subscription.plan_id) %></div>
        </div>
      </li>
       <li class="list-group-item fw-bold">
        <div class="row">
          <div class="col-3"><h6>Plan Monthly fee</h6></div>
          <div class="col-3"><h6><%=subscription.plan.monthly_fee%></h6></div>
        </div>
      </li>
        <%subscription.plan.features.each do |feature|%>
      <li class="list-group-item fw-bold">
        <div class="row">
          <div class="col-3"><h6>FeatureName:</h6></div>
          <div class="col-3"><h6><%=link_to "#{feature.name}",feature%></h6></div>
        </div>
      </li>
      <%feature_extract=checkfeatureusage(feature,subscription,buyer_id:subscription.buyer.id)%>
      <%if feature_extract.present?%>
          <li class="list-group-item fw-bold">
        <div class="row">
          <div class="col-3"><h6>Feature Extra Units:</h6></div>
          <div class="col-3"><h6><%= feature_extract.total_extra_units%></h6></div>
        </div>
      </li>
       <li class="list-group-item fw-bold">
        <div class="row">
          <div class="col-3"><h6>Exeeding Units:</h6></div>
          <div class="col-3"><h6><%= feature_extract.no_of_exeeded_units%></h6></div>
        </div>
      </li>

      <%end%>
      <%end%>
        <%if subscription.present?%>

      <li class="list-group-item fw-bold">
        <div class="row">
          <div class="col-3"><h6>Start date of Subscription: :</h6></div>
          <div class="col-3"><h6> <%=subscription.start_date%></h6></div>
        </div>
        </li>
         <li class="list-group-item fw-bold">
        <div class="row">
          <div class="col-3"><h6>End date of Subscription: :</h6></div>
          <div class="col-3"><h6> <%=subscription.end_date%></h6></div>
        </div>
        </li>
         <li class="list-group-item fw-bold">
        <div class="row">
          <div class="col-3"><h6>Current Status :</h6></div>
            <%if subscription.is_active?%>
            <div class="col-3"><button type="button" class="btn btn-success">Active</button></div>
            <%else%>
              <div class="col-3"><button type="button" class="btn btn-success">Not Active</button></div>
            <%end%>
        </div>
        </li>
         </ul>
      </div>
<%end%>
<%end%>
<%end%>


<%=link_to "Add new User(Buyer)",new_buyer_path%>
<%=link_to "Add new Plan",new_plan_path%>
<%=link_to "Add new Feature",new_feature_path%>
<%=link_to "All Plans",plans_path%>
<%=link_to "All Feature",features_path%>
<%= button_to "Sign out", destroy_user_session_path, method: :delete,class:"btn btn-danger" %>

