<div class="card card p-3 bg-light">
  <div id="login-form-div">
    <div id="img-div"><%= image_tag("avtar.png", height: '232', width: '232') %></div>
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="card-body">
        <div class="field">
          <%= f.input :email, placeholder: "name@example.com", autofocus: true, autocomplete: "email" %>
        </div>
        <div class="field">
          <%= f.input :password, placeholder: "Enter Your Password", autocomplete: "current-password" %>
        </div>
        <div class="actions " id="button-login">
          <%= f.submit "Log in", class: "btn btn-outline-primary" %>
        </div>
    <% end %>
    </div>
  </div>
</div>
<%= render "devise/shared/links" %>
