<% if @featureusage.no_of_exeeded_units > 0 %>
  <h1>You are now using Extra Features your exeeding units are below</h1>
  <h1><%=@featureusage.no_of_exeeded_units%></h1>
<%end%>
<%= simple_form_for([@feature, @featureusage]) do |form| %>
  <% if @featureusage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@featureusage.errors.count, "error") %> prohibited this featureusage from being saved:</h2>

      <ul>
        <% @featureusage.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.input :total_extra_units %>
  </div>
<div class="field">
     <%= form.hidden_field :plan_id,value: params[:plan_id] %>
  </div>
  <div class="actions">
    <%= form.submit "Save" %>
  </div>
<% end %>
