<%= simple_form_for @buyer do |f| %>
   <div class="card card p-3 bg-gray">
      <h4 style="color: black">Add Buyer</h4>
      <div style= "class:card-body bd-light;">
<% if @buyer.errors.any? %>
  <% @buyer.errors.full_messages.each do |message|%>\
  <h6><%= message %> </h6>
  <%end%>
<%end%>
 <%= f.input :name ,placeholder: "Your Name",maxlength: 15,required: true %>

<%= f.input :email ,placeholder: "Your Password",maxlength: 25,required: true%>

<%= f.input :password ,placeholder: "Your Name",required: true%>

    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
<% if @buyer.avatar.nil?%><br />Current: <%= current_user.avatar.filename.to_s %>
<%else%>
<%= f.file_field :avatar, class: "form-control" %>
<% end %>
  <%= f.submit "Create Buyer", id:"button-id",class: "btn btn-success" %>
  <%= link_to 'Back', root_path,class:"btn btn-danger",id:"button-id2" %>
<% end %>
 </div>
 </div>

