<h1>Buyers#new</h1>
<%= form_with model: buyer , local:true do |f| %>
<% if buyer.errors.any? %>
  <% buyer.errors.full_messages.each do |message|%>\
  <h6><%= message %> </h6>
  <%end%>
<%end%>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>


  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>
<div class="form-group">
 <%= f.label :avatar %>
<% if buyer.avatar.nil?%><br />Current: <%= current_user.avatar.filename.to_s %>
<%else%>

<div class="col-sm-8"><%= f.file_field :avatar, class: "form-control" %></div>
</div>
<% end %>
 <div class="field">
  <div class="actions">
    <%= f.submit  %>
  </div>
<% end %>
