<h1>BuyersDashbord</h1>
<p>Welcome to Our site.....</p><h6><%=current_user.name%></h6>
<p><%@plan.each do |plan|%>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h4 class="card-title">Plan Name:<%=plan.name%></h4>
    <p class="card-text"><%plan.monthly_fee%></p>
       <h3>Features</h3>
    <%plan.features.each do |plan_feature|%>
 
    <p><%=link_to "#{plan_feature.name}",feature_path(plan_feature.id,:plan_id => plan.id),class:"btn btn-danger"%></p> 
    <%end%>
     <%if current_user.subscriptions.where(is_active:true).find_by(plan_id:"#{plan.id}").present?%>
    <%binding.pry%>
       <button type="button" class="btn btn-success">Subscribed</button>
     
      
     <%else%>
    <%=link_to "Subscribe",new_subscription_path(:plan_id => plan.id),class:"btn btn-primary",method: :get%>
    <%end%>
  </div>
</div>
<%end%>
 <%= button_to "Sign out", destroy_user_session_path, method: :delete,class:"btn btn-danger" %>
