<%= simple_form_for @plan do |form| %>
 <div class="card card p-3 bg-gray">
      <h4 style="color: black">Add Plan</h4>
      <div style= "class:card-body bd-light;">
  <% if @plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@plan.errors.count, "error") %> prohibited this plan from being saved:</h2>

      <ul>
        <% @plan.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.input :name ,placeholder: "Enter Name", autofocus: true%>
  </div>

  <div class="field">
    <%= form.input :monthly_fee,placeholder: "Monthly fee in dollors", autofocus: true %>
  </div>
   <div class="field">
    <%= form.select :feature_ids, Feature.all.collect { |f| [ f.name, f.id ] }, {prompt: "Select features from below"}, class: "form-control" %>
  </div>
  <div class="actions"id="button-id">
    <%= form.submit "Create Plan",class:"btn btn-success"%>
      <%= link_to 'Back', root_path,class:"btn btn-danger",method: :get %>
  </div>

<% end %>
 </div>
 </div>

