<%= simple_form_for @feature  do |form| %>
 <div class="card card p-3 bg-gray">
      <h4 style="color: black">Add Feature</h4>
      <div style= "class:card-body bd-light;">
  <% if @feature.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@feature.errors.count, "error") %> prohibited this plan from being saved:</h2>

      <ul>
        <% @feature.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.input :name %>
  </div>

  <div class="field">
    <%= form.input :code %>
  </div>
 <div class="field">
    <%= form.input :unit_price %>
  </div>
 <div class="field">
    <%= form.input :max_unit_limit %>
  </div>
  <div class="field">
    <%= form.select :plan_id, Plan.all.collect { |p| [ p.name, p.id ] }, {prompt: "Select plan from below"}, class: "form-control" %>
  </div>

  <div class="actions">
   <%= form.submit "Create Feature", id:"button-id",class: "btn btn-success" %>
  <%= link_to 'Back', root_path,class:"btn btn-danger",id:"button-id2" %>
  </div>
<% end %>
 </div>
 </div>
