<!DOCTYPE html>
<html>
  <head>
    <title>PaymentSystem</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
 <%if user_signed_in?%>
  <nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="<%=root_path%>">PaymentSystem</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
       <%if current_user.type=="Buyer"%>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="<%=root_path%>">Home</a>
        </li>
         <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="<%=subscriptions_path%>">Subscribed Plans</a>
        </li>

       <%else%>
        <li class="nav-item">
          <a class="nav-link" href="<%=new_buyer_path%>">Add Buyer</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="<%=new_plan_path%>">Add Plan</a>
        </li>
         </li>
         <li class="nav-item">
          <a class="nav-link" href="<%=new_feature_path%>">Add Feature</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="<%=features_path%>">All Feature</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%=plans_path%>">All Plans</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="<%=transactions_path%>">All Transaction</a>
        </li>

         <%end%>
          <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>

      </ul>
       <div><%= button_to "Sign out", destroy_user_session_path, method: :delete,class:"btn btn-danger" %></div>
    </div>
  </div>
</nav>
<%end%>
<p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
<div class="container">
    <%= yield %>
    </div>
  </body>
</html>
